<div class="container-fluid dashboard-content" #datatable  id="content">
   
    <div class="page-header">
        <h2>How to use our Dashboard??</h2>
    </div>

    <!-- <p> first you have login the page using the correct username and password</p>
    <h6>Now we will see step by step </h6><br>
    <div class="row mx-auto mt-3 mb-3" id="content"> -->
        <!-- <div class="row">
            <div class="col-12"> -->
        <!-- <div class="row-xl-2 row-sm-12 col-lg-6 col-xs-12 col-md-6 mb-3">
            <div class="card" id="data-card">
    <h5> Step 1 : how to use the page</h5>
    <p> at the left corner of the there is the one symbol called    if you want the navigation bar to be very small means you have to press that symbol
     and coming to the right corner there one symbol if you want to logout from the dashboard you can use that   
    </p>
    
        <div class="card" id="data-card"> -->
         <!-- <h5> Step 2: how to use the Navigation bar </h5>
             <h6> first we will see the how to use the dashboard</h6></div></div></div></div> --> 
            <!-- </div> -->


            <p-tabView styleClass="tabview-custom">
                <p-tabPanel>
                    <ng-template pTemplate="header">
                        <span>Main page </span>
                    </ng-template>


            

            <!-- <div class="col-xl-3 col-xs-12 col-sm-12 col-md-12 col-lg-6 mb-3">
                <div class="card card-body">
                    <div class="statusGrid">
                        <div>
                            <div class=""> -->
                                
    <h3><b> Elaboration Of Main page:</b></h3><br>

    <h6><b>Header:</b></h6>
    <p>
        Here we have 2 options on the top the header left and right corner.<br>
        You can see that in the below figure..
    </p><br>
    <!-- <div class="center-content">  -->
    
    <img data-center src="\assets\images\Main page header.png"   width="1500px" height="700px" > <br><br><br><br>
<!-- </div> -->

   <P>
   <b>First option</b> is Minimize or Maximize the Navigation bar 
    please refer the below image  how it looks after hitting the button.. 
   </P>
   
    <img  data-center src="\assets\images\Main page Navigation bar.png"   width="1500px" height="700px"><br><br><br><br>


    <p><b>Second option</b>  is Logout from the application  you can have a look on the below image .. </p>
   
    <img data-center src="\assets\images\Main page Logout.png"   width="1500px" height="700px">

   

    
                            <!-- </div>
                             <div class="font-primary"><small> Total Cameras</small></div> -->

                        <!-- </div>
                         <div class="">
                            <img class="iconImage" src="assets/images/icons/Camera.svg" alt="">
                        </div> -->
                    <!-- </div>
                </div>
            </div> -->
           
        </p-tabPanel>

        <p-tabPanel header="Header II">
            <ng-template pTemplate="header">
                <span>Navigation bar</span>
            </ng-template>

            <!-- <div class="col-xl-3 col-xs-12 col-sm-12 col-md-12 col-lg-6 mb-3">
                <div class="card card-body ">
                    <div class="statusGrid">
                        <div>
                            <div class=""> -->

                                <h3> <b>Elaboration of the Navigation bar:</b></h3><br><br>
                                <!-- <div class="center-content" > -->

                                <h6> At the left corner we have 6 options for that whole bar we use call Navigation bar 
                                </h6>
                                    <p><b>
                                        1. Dashboard/Home page&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        2. Violations&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        3. Traffic Count&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        4. Camera Settings&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        5. Settings&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        6. About</b> </p><br><br>
                                     
                                     <p> <b>1. Dashboard/Home page :</b> <br>
                                        it looks like as shown in the below figure.. </p>
                                       
                                <img data-center src="\assets\images\Navigation bar Dashboard.png" width="1500px" height="700px"><br><br>

                                <p><b> 4. Camera Settings :</b><br>
                                    it looks like as shown in the below figure.. </p>
                                   
                                <img  data-center src="\assets\images\Navigation bar Camera Settings.png"   width="1500px" height="700px"><br><br>
                                <p><b> 5. Settings :</b><br>
                                     it looks like as shown in the below figure.. </p>
                                    
                                <img  data-center src="\assets\images\Navigation bar Settings.png"   width="1500px" height="700px"> 



                             <!-- </div> -->
                            <!-- <div class="font-primary"><small> Total Cameras</small></div> -->

                        <!-- </div> -->
                        <!-- <div class="">
                            <img class="iconImage" src="assets/images/icons/Camera.svg" alt="">
                        </div> -->
                    <!-- </div>
                </div>
            </div> -->



            <!-- <div class="col-xl-3 col-xs-12 col-sm-12 col-md-12 col-lg-6 mb-3">
                <div class="card card-body">
                    <div class="statusGrid">

                            <div class=""> -->
                                <h5>  </h5>
                                <h6> </h6>   
                            <!-- </div>




                    </div>
                </div>
            </div> -->
        <!-- </div> -->
        </p-tabPanel> 

        <p-tabPanel header="Header II">
            <ng-template pTemplate="header">
                <span>Dashboard</span>
            </ng-template>

            <h3> <b>Elaboration of the Dashbord/Main page :</b></h3><br>

            <h6> <b>you can see that how the Main page looks..</b><br>
                In this Main page we can see total number of cameras, total
                number of working & Not Working Cameras, Total Violation, and its types
                & also graphical Representation of Violations With respect to Time.
            </h6>
           
            <img  data-center src="\assets\images\Navigation bar Dashboard.png" width="1500px" height="700px"><br><br><br>

            <p> if you want to go to Camera Settings directly you have hit the total cameras above number 
                Please refer the below figure..
            </p>
           
            <img data-center src="\assets\images\Dashboard Total Cameras.png"  width="1500px" height="700px"> <br><br><br>
            <p> Here is the image after hitting the button i.e Camera Settings page..</p>
           
            <img data-center src="\assets\images\Dashboard Camera Settings.png"  width="1500px" height="700px"><br><br><br>
            <p> If you want to get the information of the Enabled Cameras you have to follow the same procedure as like the Total Cameras 
              Here is the image follow this one..  
            </p>
           
            <img  data-center src="\assets\images\Dashboard Enabled Cameras.png" width="1500px" height="700px"><br><br><br>
            <p> here is the popup how it looks after hitting on that number </p>
           
            <img   data-center src="\assets\images\Dashboard Solution Added Camera.png"  width="1500px" height="700px"><br><br><br>

            <!-- <p</p>
            <img src="\assets\images\Dashboard Disabled Cameras.png" width="500px"> -->
            <p> For Disabled Camera Details also follow the same procedure</p><br>
            <p> here is the popup how it looks</p>
           
            <img data-center src="\assets\images\Dashboard Disabled Camera Details.png"  width="1500px" height="700px"><br><br><br>
            <!-- <img src="\assets\images\Dashboard Not Working Camera.png" width="500px"> -->
            <p> here is the Not working Cameras Details popup how it looks like </p>
           
            <img data-center src="\assets\images\Dashboard Not Working Cameras Details.png"  width="1500px" height="700px"><br><br><br>


          <h6><b> After the Camera you can see one input box that is nothing but the date range selector</b></h6><br><br>
          <p> How it looks ?? Please refer the below figure</p>
        
            <img  data-center src="\assets\images\Dashboard Date Range Picker.png"  width="1500px" height="700px"><br><br><br>
            <p> after hitting on that input field you will get this popup here you need to select the date range from where to where you want the violations details by default it shows the current date violations details if you want other day violation details then you must select the range and hit the apply button  </p>
           
            <img data-center src="\assets\images\Dashboard Date Range Picker 01.png"  width="1500px" height="700px"><br><br><br>

                <p> for the Dashboard Total Violations Connt you have to hit the Total violations Above number</p>
                <p> please refer the below figure</p>
               
            <img data-center src="\assets\images\Dashboard Total Violations.png"  width="1500px" height="700px"><br><br><br>
            <p> this the how the Total violation count popup looks like </p>
           
            <img  data-center src="\assets\images\Dashboard Total Violation Count.png" width="1500px" height="700px"><br><br><br>

            <!-- <img src="\assets\images\Dashboard RA Violations.png" width="500px"> -->
            <P> For the RA Violations count and PPE Violations Count You have to follow the same procedure as like the total violations </P>
            <p> This how the RA Violations Count popup looks like </p>
            
            <img   data-center src="\assets\images\Dashboard RA Violations Count.png"  width="1500px" height="700px"><br><br><br>
            <!-- <img src="\assets\images\Dashboard PPE Violations.png" width="500px"> -->
            <p> This is how the PPE Violations Count popup looks like </p>
            <img   data-center src="\assets\images\Dashboard PPE Violations Count.png"  width="1500px" height="700px"><br><br><br>

            <p> This is the graphical Representation of the all Violations of the selected  range  </p>

            <img  data-center src="\assets\images\Dashboard Violations Data Analysis.png"   width="1500px" height="700px"><br><br><br>




        </p-tabPanel> 


        <p-tabPanel header="Header III">
            <ng-template pTemplate="header">
                <span>Camera Settings</span>
            </ng-template>
            <h3><b> Elaboration of the Camera Settings :</b></h3>

            <!-- <p> <a href="#c1">Jump to Chapter 4</a></p> -->

            <!-- <p-tabView styleClass="tabview-custom">
                <p-tabPanel>
                    <ng-template pTemplate="header">
                        <span>Adding Camera </span>
                    </ng-template>
                    <h6 ><b>where i can add the Camera to the application ??</b> </h6><br>
                    <p> here are the Instructions please follow these steps </p>
                    <p> First you have to hit the +Add button  </p>
                    <p> please follow the below figure where the +Add button</p>
        
                    <img  data-center src="\assets\images\Camera Settings Add.png" width="1500px" height="700px"><br><br><br><br>
        
        
                    <p> here is the Add Camera Popup how it looks ..</p><br>
                    <P> Here you have to give Camera name, Camera brand, Plant, Area, instead
                    of giving Username, Password, Camera IP & Port you can give Camera
                    RTSP URL.<br>
                    ✔ If you have an alert system, click on type of alert system, and give the Ip
                    address of alert system.<br>
                    ✔ Hit Submit button. On successfully submission The Camera Settings tab
                    looks like the figure shown below.</P>
                    <img  data-center src="\assets\images\Camera Settings Add Camera.png"  width="500px" ><br><br>
                </p-tabPanel>
            </p-tabView>  -->

            <h6> This is how the Camere Settings page looks like</h6>
            <img data-center src="\assets\images\Navigation bar Camera Settings.png"   width="1500px" height="700px"><br><br>

            <h6 ><b>where i can add the Camera to the application ??</b> </h6><br>
            <p> here are the Instructions please follow these steps </p>
            <p> First you have to hit the +Add button  </p>
            <p> please follow the below figure where the +Add button</p>

            <img  data-center src="\assets\images\Camera Settings Add.png" width="1500px" height="700px"><br><br><br><br>


            <p> here is the Add Camera Popup how it looks ..</p><br>
            <P> Here you have to give Camera name, Camera brand, Plant, Area, instead
            of giving Username, Password, Camera IP & Port you can give Camera
            RTSP URL.<br>
            ✔ If you have an alert system, click on type of alert system, and give the Ip
            address of alert system.<br>
            ✔ Hit Submit button. On successfully submission The Camera Settings tab
            looks like the figure shown below.</P>
            <img  data-center src="\assets\images\Camera Settings Add Camera.png"  width="500px" ><br><br>
            <p> Here you can get the Excel Sample sheet for cheking the Camera Details</p>
            <img data-center src="\assets\images\Camera Settings Sample Sheet.png"  width="1500px" height="700px"><br><br>
            <p> After downloading the sample sheet there you have add the camera details and you have to upload </p>
            <p>For uploading the Sheet you can follow the below figure </p>
            <img  data-center src="\assets\images\Camera Settings Upload Sheet.png"  width="1500px" height="700px"><br><br>
            <p> here is the option for the Hiding the columns </p>
            <p> If you want any column to be hide from the present the table then you can use this option </p>
            <img data-center src="\assets\images\Camera Settings Hide Column.png"  width="1500px" height="700px"><br><br>
            <p> If you want to see the live Camera working here you can get form the Feed button </p>
            <img  data-center src="\assets\images\Camera Settings Feed.png" width="1500px" height="700px"><br><br>
            <p> Here is the option for the Enable and Disable the Analytics for the perticular camera 
                for working with this option you can have a look on the below figure
            </p>
            <img data-center  src="\assets\images\Camera Settings Enable Analytics.png"  width="1500px" height="700px"><br><br>
            <p> In the settings Column you have 3 symbols <br>
               <b> 1.Edit the Camera<br>
                2. Camera settings<br>
                3. Delete the Camera </b></p>
                
            <img data-center src="\assets\images\Camera Settings Settings.png" width="1500px" height="700px"><br><br>
            <p> Now we will see first one <br>
               <b> 1.Edit camera : </b>
            </p>
            <p> here you can edit the camera Details </p>
            <img  data-center src="\assets\images\Camera Settings Edit Camera.png"  width="1500px" height="700px"><br><br>
            <p><b> 2. Camera Settings :</b> </p>
            <p> This is how the Camera Settings page looks like here you are able to set the perticular camare like ROI,Danger Zone , Traffic Count ,Crowd Count</p>
            <img src="\assets\images\Camera Settings Camera Settings.png"  width="1500px" height="700px"><br><br>

            <img data-center  src="\assets\images\Camera Settings Camera Settings 01.png"  width="1500px" height="700px"><br><br>
            <p> here is the Explaination of the how to use that 3 left corner buttons </p>
            <p><b> 1.Crowd Count<br>
                2.Danger Zone<br>
                3.Traffic count</b><br>
            </p>

            <img data-center src="\assets\images\Camera Settings Buttons.png" width="1500px" height="700px"><br><br>
            <P> After drawing the ROI if you want to sae you have hit the confirm ROI if you want to delete you have to hit the delete button </P>

            <img  data-center src="\assets\images\Camera Settings Confirm ROI.png" width="1500px" height="700px"><br><br>
            <p> after hitting the Confirm ROI you will get the popup like below one then you have to fill the necessary details then submit the details</p>
            <img data-center src="\assets\images\Camera Settings ROI Name.png" width="500px" ><br><br>

            <p> <b> 3.Delete</b></p>
            <p> if you want to delete the camere from the your application then you can use this delete button</p>
            <img  data-center src="\assets\images\Camera Settings Delete.png" width="1500px" height="700px">
            



        </p-tabPanel> 

       </p-tabView>
       </div>
   